.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 0;
}

.loginLink {
  font-size: 18px;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}